.container {
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 16px 32px;
    border-radius: 28px;
    border: none;
}

.button--primary {}
.button--footer {}
.button--text {}