* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --blue-900: #13183f;
    --blue-600: #666ca3;
    --pink-600: #f74780;
    --pink-300: #ffa7c3;
    --grey: #83869a;
    --white: #fff;

    /* gradients */
    --pink: #f02aa6;
    --orange: #ff6f48;
    --blue: #4851ff;
}

.container {
    padding: 0 20px;
}

body {
    background: linear-gradient(#FFFFFF, #F0F1FF);;
}

section {
    padding-top: 64px;
    padding-bottom: 64px;
}

h1 {
    color: rgba(19, 24, 63, 1);
    font-size: 40px;
    line-height: 120%;
    font-weight: 800;
    margin-bottom: 24px;
}

.invitation__description {
    font-size: 18px;
    line-height: 150%;
    color: rgba(131, 134, 154, 1);
    margin-bottom: 40px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 16px 32px;
    border-radius: 28px;
    border: none;
    line-height: 150%;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.button--blue {
    background-color: rgba(19, 24, 63, 1);
}

.button--linear-grad {
    background: linear-gradient(#FF6F48, #F02AA6);
    margin-bottom: 48px;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

.header__logo {
    color: #13183F;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 800;
    font-size: 36px;
}

.list__item:not(:first-child) {
    padding: 32px 40px 64px;
    border-radius: 15px;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 24px;
}

.card p {
    font-size: 16px;
    color: rgba(131, 134, 154, 1);
    line-height: 150%;
    font-weight: 800;
    margin-bottom: 24px;
}

.list {
    flex-direction: column;
}

.list__item:first-child {
    background: linear-gradient(#FF6F48, #F02AA6);
    padding: 32px;
    border-radius: 15px;
}

.list__item:first-child h2 {
    color: white;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
}

.list__item {
    margin-bottom: 32px;
    background-color: white;
}

.button--text {
    color: rgba(247, 71, 128, 1);
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.card__img {
    margin-bottom: 36px;
}

footer {
    background: rgba(19, 24, 63, 1);
    align-items: center;
    padding: 24px;
}

footer span {
    color: white;
}

.footer--button {
    background: linear-gradient(#4851FF, #F02AA6);
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .list__item {
        flex: 1 1 auto;
    }
}